<%- include('../includes/head.ejs') %>

</head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <section class="header12 cid-ryWFdauvQ6 mbr-fullscreen mbr-parallax-background"
        id="header12-d"
        >
        <div
            class="mbr-overlay"
            style="opacity: 0.5; background-color: rgb(35, 35, 35);"
        ></div>

        <div class="container  ">
            <div class="media-container">
            <div class="col-md-12 align-center">
                <h1
                class="mbr-section-title pb-3 mbr-white mbr-bold mbr-fonts-style titrValue"
                >
                لغات طلایی گواهینامه رانندگی
                </h1>
                <h2
                class="mbr-section-title pb-3 mbr-white mbr-fonts-style "
                id="de2fa"
                >
                German To Farsi / فارسی به آلمانی
                </h2>
                <input
                class="searchBox text-center"
                type="text"
                name="searchValue"
                placeholder="واژه یا عبارت موردنظر را وارد کنید"
                autofocus
                />
                <div class="mbr-section-btn align-center py-2">
                <a class="btn btn-md btn-secondary display-4 searchBTN" href="#"
                    >جستجو</a
                >
                </div>

                <div class="icons-media-container mbr-white">
                <div class="card col-12 col-md-6 col-lg-3">
                    <h5 class="mbr-fonts-style display-5"></h5>
                </div>

                <div class="card col-12 col-md-6 col-lg-3">
                    <h5 class="mbr-fonts-style display-5"></h5>
                </div>

                <div class="card col-12 col-md-6 col-lg-3">
                    <h5 class="mbr-fonts-style display-5"></h5>
                </div>

                <div class="card col-12 col-md-6 col-lg-3">
                    <h5 class="mbr-fonts-style display-5"></h5>
                </div>
                </div>
            </div>
            </div>
        </div>

        <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
            <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
            </a>
        </div>
        </section>

        <section class="mbr-section form4 cid-ryWE3dwyds" id="form4-8">
        <div class="container">
            <div class="row">
            <!-- <div class="col-md-6">
                <div class="google-map">
                <iframe
                    frameborder="0"
                    style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCy9r70T3NYf3PhvVflTo0_zdif2_IoIYs&amp;q=place_id:ChIJn6wOs6lZwokRLKy1iqRcoKw"
                    allowfullscreen=""
                ></iframe>
                </div>
            </div> -->
            <div class="col-md-12">
                <h2 class="pb-3 align-left mbr-fonts-style display-2">
                Drop a Line
                </h2>
                <div>
                <div class="icon-block pb-3 align-left">
                    <span class="icon-block__icon">
                    <span class="mbri-letter mbr-iconfont"></span>
                    </span>
                    <h4
                    class="icon-block__title align-left mbr-fonts-style display-5"
                    >
                    Don't hesitate to contact us
                    </h4>
                </div>
                <div class="icon-contacts pb-3">
                    <h5 class="align-left mbr-fonts-style display-7">
                    Ready for offers and cooperation
                    </h5>
                    <p class="mbr-text align-left mbr-fonts-style display-7">
                    Phone: +1 (0) 000 0000 001 <br />
                    Email: youremail@mail.com
                    </p>
                </div>
                </div>
                <div data-form-type="formoid">
                <!---Formbuilder Form--->
                <form
                    action="#"
                    method="POST"
                    class="mbr-form form-with-styler"
                    data-form-title="Mobirise Form"
                >
                    <input
                    type="hidden"
                    name="email"
                    data-form-email="true"
                    value="yW8PoqIWwkqLFzyCFkLmIDwIdS7pfsQm2+CPTdVqFj07LqoPnNlpaEFsd+mcmWfrSwsB4FlvmFwaBCQ1610VsCeMK+zruSPR3Nx8+/aIZyANnjwcaNeXvAuyU1A7ma6G"
                    />
                    <div class="row">
                    <div
                        hidden="hidden"
                        data-form-alert=""
                        class="alert alert-success col-12"
                    >
                        Thanks for filling out the form!
                    </div>
                    <div
                        hidden="hidden"
                        data-form-alert-danger=""
                        class="alert alert-danger col-12"
                    ></div>
                    </div>
                    <div class="dragArea row">
                    <div class="col-md-6  form-group" data-for="name">
                        <input
                        type="text"
                        name="name"
                        placeholder="Your Name"
                        data-form-field="Name"
                        required="required"
                        class="form-control input display-7"
                        id="name-form4-8"
                        />
                    </div>
                    <div class="col-md-6  form-group" data-for="phone">
                        <input
                        type="text"
                        name="phone"
                        placeholder="Phone"
                        data-form-field="Phone"
                        required="required"
                        class="form-control input display-7"
                        id="phone-form4-8"
                        />
                    </div>
                    <div data-for="email" class="col-md-12  form-group">
                        <input
                        type="text"
                        name="email"
                        placeholder="Email"
                        data-form-field="Email"
                        class="form-control input display-7"
                        required="required"
                        id="email-form4-8"
                        />
                    </div>
                    <div data-for="message" class="col-md-12  form-group">
                        <textarea
                        name="message"
                        placeholder="Message"
                        data-form-field="Message"
                        class="form-control input display-7"
                        id="message-form4-8"
                        ></textarea>
                    </div>
                    <div class="col-md-12 input-group-btn  mt-2 align-center">
                        <button
                        type="submit"
                        class="btn btn-md btn-secondary btn-form display-4"
                        >
                        SEND MESSAGE
                        </button>
                    </div>
                    </div>
                </form>
                <!---Formbuilder Form--->
                </div>
            </div>
            </div>
        </div>
        </section>

        <section class="footer4 cid-ryWEqm49tf" id="footer4-c">
        <div class="container">
            <div class="media-container-row content mbr-white">
            <div class="col-md-3 col-sm-4">
                <div class="mb-3 img-logo">
                <a href="#">
                    <img src="assets/images/fhrer-192x192.png" alt="#" title="" />
                </a>
                </div>
                <p class="mb-3 mbr-fonts-style foot-title display-7">
                Führerschein365
                </p>
                <p class="mbr-text mbr-fonts-style mbr-links-column display-7">
                <a href="#" class="text-white faFont">درباره ما</a>
                <br /><a href="#" class="text-white faFont">خدمات</a>
                <br /><a href="#" class="text-white faFont">راه های ارتباطی</a>
                </p>
            </div>
            <div class="col-md-4 col-sm-8">
                <p class="mb-4 foot-title mbr-fonts-style display-7 faFont">
                تازه ها
                </p>
                <p class="mbr-text mbr-fonts-style foot-text display-7">
                Footer with solid color background and a contact form, Easily add
                subscribe and contact forms without any server-side integration.
                <br />
                <br />helps you cut down development time by providing you with a
                flexible website editor with a drag and drop interface.
                </p>
            </div>
            <div class="col-md-4 offset-md-1 col-sm-12">
                <p class="mb-4 foot-title mbr-fonts-style display-7 faFont">
                عضویت در خبرنامه
                </p>
                <p class="mbr-text mbr-fonts-style form-text display-7 rtlContent">
                ماهانه از خدمات جدید وب سایت و نرم افزارهای جدید مطلع شوید.
                </p>
                <div class="media-container-column" data-form-type="formoid">
                <!---Formbuilder Form--->
                <form
                    action="#"
                    method="POST"
                    class="mbr-form form-with-styler"
                    data-form-title="Mobirise Form"
                >
                    <input
                    type="hidden"
                    name="email"
                    data-form-email="true"
                    value="Yr5tuzZNF1fiKI6sDSoTXxg0ImbV5M2r3Jvbt3rxqeur6Cph7EfDS/eiQ+BVxTgpmmuhoN7e/6msmue9L00q4UUfXC+/gjBiOmOo+5Qk+5GVFgEgv7Llmj2A87p7MkpE"
                    />
                    <div class="row form-inline justify-content-center">
                    <div
                        hidden="hidden"
                        data-form-alert=""
                        class="alert alert-success col-12 faFont"
                    >
                        بابت پر کردن فرم از شما متشکریم.
                    </div>
                    <div
                        hidden="hidden"
                        data-form-alert-danger=""
                        class="alert alert-danger col-12"
                    ></div>
                    </div>
                    <div class="dragArea row form-inline justify-content-center">
                    <div class="col-auto  form-group rtl" data-for="email">
                        <input class="faFont"
                        type="email"
                        name="email"
                        placeholder="ایمیل"
                        data-form-field="Email"
                        required="required"
                        class="form-control input-sm input-inverse my-2 display-7"
                        id="email-footer4-c"
                        />
                    </div>
                    <div class="col-auto  input-group-btn  m-2">
                        <button type="submit" class="btn btn-md btn-secondary m-0 display-4 subscribeBTN faFont">
                        عضویت
                        </button>
                    </div>
                    </div>
                </form>
                <!---Formbuilder Form--->
                </div>
                <p class="mb-4 mbr-fonts-style foot-title display-7 faFont">
                ارتباط با ما
                </p>
                <div class="social-list pl-0 mb-0 socialGroup">
                <div class="soc-item">
                    <a href="https://twitter.com/" target="_blank">
                    <span
                        class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"
                    ></span>
                    </a>
                </div>
                <div class="soc-item">
                    <a href="https://www.facebook.com" target="_blank">
                    <span
                        class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"
                    ></span>
                    </a>
                </div>
                <div class="soc-item">
                    <a href="https://www.youtube.com/" target="_blank">
                    <span
                        class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"
                    ></span>
                    </a>
                </div>
                <div class="soc-item">
                    <a href="https://instagram.com" target="_blank">
                    <span
                        class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"
                    ></span>
                    </a>
                </div>
                <div class="soc-item">
                    <a href="https://plus.google.com" target="_blank">
                    <span
                        class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"
                    ></span>
                    </a>
                </div>
                <div class="soc-item">
                    <a href="https://www.behance.net" target="_blank">
                    <span
                        class="socicon-behance socicon mbr-iconfont mbr-iconfont-social"
                    ></span>
                    </a>
                </div>
                </div>
            </div>
            </div>
            <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                <hr />
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-12 copyright">
                <p class="rtlContent">
                    تمامی حقوق مادی و معنوی این سایت متعلق به وب سایت <a href="#" class="footerLink">گواهینامه ۳۶۵</a> می باشد و هرگونه کپی برداری و انتشار غیر مجاز پیگرد قانونی دارد .
                </p>
                </div>
            </div>
            </div>
        </div>
        </section>

        <%- include('../includes/script.ejs') %>

    </main>
    
    <%- include('../includes/end.ejs') %>
