<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="generator"/>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <link
      rel="shortcut icon"
      href="assets/images/fhrer-122x122.png"
      type="image/x-icon"
    />
    <meta name="description" content="" />

    <title>لغات طلایی گواهینامه</title>
    <link
      rel="stylesheet"
      href="assets/web/assets/mobirise-icons/mobirise-icons.css"
    />
    <link rel="stylesheet" href="assets/tether/tether.min.css" />
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css" />
    <link
      rel="stylesheet"
      href="assets/bootstrap/css/bootstrap-reboot.min.css"
    />
    <link rel="stylesheet" href="assets/dropdown/css/style.css" />
    <link rel="stylesheet" href="assets/socicon/css/styles.css" />
    <link rel="stylesheet" href="assets/theme/css/style.css" />
    <link
      rel="stylesheet"
      href="assets/mobirise/css/mbr-additional.css"
      type="text/css"
    />
    <link rel="stylesheet" href="css/myStyle.css" />
    <!-- <link rel="stylesheet" href="css/style.css" /> -->

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6321092798142764",
        enable_page_level_ads: true
      });
    </script>